<template name="blog">
    <!-- Latest Blogs Section-->
    <section id="blog" class="container section_heading">
            <h1>Latest Blogs</h1>
            <h3>A review of our favorites...styles, design, trends</h3>
    
        <!--Blog Entry-->
        <div class="row" id="blog_entry_row">
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965848/montrose1_a1bmjs.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_filter">
                    <h5>Hillside Hideaway</h5>
                </div>
                    <div class="blog_thumb_header">
                      <a href="#"><h5>Hillside Hideaway</h5></a>
                </div>

            </div>
                
            <!--Blog Entry-->
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965848/montrose2_w7lstb.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Vertical Fullwidth</h5></a>
                </div>
            </div>
            
            <!--Blog Entry-->
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965849/montrose3_aqbwga.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Mod Kitchen</h5></a>
                </div>
            </div>
            
            <!-- Blog Entry-->
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965849/montrose5_ykpt75.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Masonry Full</h5></a>
                </div>
            </div>

            <!-- Blog Entry-->
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965849/mx3_p4l47y.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Masonry on Left</h5></a>
                </div>
            </div>

            <!-- Blog Entry-->
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965849/mx14_pomdkt.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Portfolio</h5></a>
                </div>
            </div>

            <!-- Blog Entry-->
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965849/mx16_n19pey.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Portfolio X1</h5></a>
                </div>
            </div>

            <!-- Blog Entry-->
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965849/mx4_r0rzoa.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Slider on Right</h5></a>
                </div>
            </div>

            <!-- Blog Entry-->
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965849/plett3_xd7rxo.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Slider on Left</h5></a>
                </div>
            </div>

            <!-- Blog Entry-->
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965849/plett4_ciknre.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Vertical on Right</h5></a>
                </div>
            </div>

            <!-- Blog Entry-->
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965849/plett7_wqj8nt.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Vertical Fullwidth</h5></a>
                </div>
            </div>

            <!-- Blog Entry-->
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965849/plett8_owpl4z.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Vertical on Right B</h5></a>
                </div>
            </div>

            <!--Blog Entry -->
            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965849/wk-7-fc_oraflv.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Masonry on Right</h5></a>
                </div>
            </div>

            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965848/fc2_usjkbq.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Portfolio Vertical</h5></a>
                </div>
            </div>

            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965848/fc6_hbtn4q.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Vertical on Left B</h5></a>
                </div>
            </div>

            <div class="blog_entry col-xs-6 col-sm-6 col-md-3 col-lg3">
                <div class="blog_thumb">
                    <span class="wrap">
                        <a href="#"><img src="http://res.cloudinary.com/dudofpwjo/image/upload/c_scale,w_473/v1423965848/fc4_h7cnte.jpg" alt=""></a>
                    </span>
                </div>
                <div class="blog_thumb_header">
                  <a href="#"><h5>Slider Fullwidth B</h5></a>
                </div>
            </div>

        </div>

    </section>
</template>