<template name="footer">

 <footer id="footer">

 	<!-- LINK BACK TO DEVELOPER PORTFOLIO SITE -->
	<a href="http://www.msmalloryporche.com"><img src="imgs/logo2.png" alt="MPorche Logo"></a>

        <div class="row">
        
          <div class="small-12 medium-12 large-12 centered columns'" id="footer_social_media_links">
            <a href="http://www.twitter.com" class="signature">Twitter</a> 
            <a href="http://www.facebook.com">Facebook</a>
            <a href="http://www.behance.com">Behance</a>
            <a href="http://www.flickr.com">Flickr</a>
          </div>
        <p>
            <br> Hand coded wtih <i class="fa fa-heart"></i> by <a href="http://www.wearetrailblazers.com">Mallory Burke</a> <br> <span id="site_design">Site design inspired by <a href="www.ximudesign.com">XIMU Design</a><br><br></span>Copyright &copy; 2015 </p> 
        </div>

    </footer>

</template>