<template name="services">
    <!--Services-->
    <section id="services">

        <!--#services section_heading -->
        <div class="section_heading">
            <h1>Services</h1>
            <h3>We love what we do.  We design lifestyles.</h3>
        </div>
            
        <!--#service_first_row-->
        <div class="row services_row">

            <!--#service_first_widget-->
            <div class="service_widget col-xs-12 col-sm-6 col-md-6 col-lg-6" id="service_first_widget">
                <div class="service_widget_container">
                    <div class="service_widget_icon">
                        <i class="fa fa-home"></i>
                    </div>
                    <h4>architecture</h4>
                    <p>Magins. Scelerisque et pulvinar eros tempor, mattis acru auctor</p>
                </div>
            </div>

            <!--#service_widget_two-->
            <div class="service_widget col-xs-12 col-sm-6 col-md-6 col-lg-6" id="service_second_widget">
                <div class="service_widget_container">
                    <div class="service_widget_icon">
                        <i class="fa fa-paint-brush"></i>
                    </div>
                    <h4>design</h4>
                    <p>Magins. Scelerisque et pulvinar eros tempor, mattis acru auctor</p>
                </div>
            </div>
        </div>
        <!--End #service_first_row-->

        <!--#services_second_row-->
        <div class="row services_row">

            <!--#service_third_widget-->
            <div class="service_widget col-xs-12 col-sm-6 col-md-6 col-lg-6" id="service_third_widget">
                <div class="service_widget_container">
                    <div class="service_widget_icon">
                        <i class="fa fa-leaf"></i>
                    </div>
                    <h4>landscaping</h4>
                    <p>Magins. Scelerisque et pulvinar eros tempor, mattis acru auctor</p>
                </div>
            </div>

            <!--#service_fourth_widget-->
            <div class="service_widget col-xs-12 col-sm-6 col-md-6 col-lg-6" id="service_fourth_widget">
                <div class="service_animation_container">
                    <div class=" animation">
              <div class="small-3 columns service_widget_animations" id="service_animation_one"></div>
              <div class="small-3 columns service_widget_animations" id="service_animation_two"></div>
              <div class="small-3 columns service_widget_animations" id="service_animation_three"></div>
              <div class="small-3 columns service_widget_animations" id="service_animation_four"></div>
            </div>
                </div>
            </div>
        </div>
        <!--End #service_second_row-->
    </section>
    <!--End Services Section-->
</template>