// Font weights
$light: 100;
$regular: 300;
$bold: 600;

// Base Font
$base-font-family: "Raleway";
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// @import "modules/all";

//Document level Font Size Adjustments
html {
	font-size: $base-font-size;
}

body {

	font-family: "Raleway";
	font-weight: 300;
	text-align: center;
}

.container {
	p {
		padding: 0 40px;
		font-size: 16px;
		line-height: 1.3;
		span {
			font-weight: 300px;
		}
	}
}